@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'poppins', sans-serif;
}

footer {
    background-color: #1c2331;
    color: white;
}

.text-white {
    font-size: 1.2vw;
}

.text-uppercase {
    color: white;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: grey;
}

hr {
    width: 5rem;
    background-color: #7c4dff;
    height: 0.14rem
}

.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.me-5>span {
    text-align: center;
    align-items: center;
}

.justify-content-between {
    justify-content: center;
    align-items: center;
}