@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'poppins' sans-serif;
}

.featurette-heading {
    padding-bottom: 1vw;
}

.elementor-section {
    display: flex;

}

.col-md-15>p {
    font-size: 1.2rem;
}

.elementor-heading-title {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 2.4vw 0;
}

.cs-grid>h2 {
    font-weight: bold;
    color: rgb(44, 42, 42);
    font-size: 1.6rem;
    text-align: left;
}

.container {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

p {
    font-size: 1.5rem;
    color: #359381;
}

h4 {
    margin: 1vw 0;
}

.elementor-icon-box-title>spna {
    text-align: left;
}