.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

h1 {
    font-size: 90px;
    color: #fff;
}

P {
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
}

.sec-2 p {
    color: #0f0;
}

.sec-second {
    position: relative;
    background-color: #fff;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}